<div>
  <h1>Timers</h1>
  <app-timer [init]="4" (onComplete)="logCountdownEnd()"></app-timer>
  <app-timer [init]="20" (onComplete)="logCountdownEnd()"></app-timer>
  <app-timer [init]="65" (onComplete)="logCountdownEnd()"></app-timer>
</div>

